<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service
                android:name=".VoiceRecorderService"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="microphone"/>
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false" tools:replace="required"/>
</manifest>
